.goods {
	width: 775px;
	box-sizing: border-box;
}
.goods * {
	box-sizing: inherit;
}

.good {
	float: left;
	width: 150px;
	height: 250px;
	font: normal 11px Tahoma,sans-serif;
	border: 1px solid #e2e2e2;
	padding: 0px 9px;
	margin: 2.5px 2px;
	
}



.good__photo_container {
	text-align: center;
}

.good__photo {
	margin-left: -9px;
	display: none;
}

.good__photo__active {
	display: block;
}

.good__photo_nav {
	text-align: center;	
}

.good__photo_nav_el {
	display: inline-block;
	border-radius: 50%;
	background: #a5a5a5;
	width: 7px;
	height: 7px;
	cursor: pointer;
}

.good__photo_nav_el__active {
	width: 10px;
	height: 10px;	
}
.good__info {
	color: #004f81;
	margin-bottom: 15px;
}

.good__pp {
	color: #f59d4b;
	font-weight: bold;
}

.good__footer {
	text-align: center;
	height: 26px;
}

.good__cart {
	display: inline-block;
	width: 26px;
	height: 26px;

} 
.good__like {
	display: inline-block;
	width: 26px;
	height: 26px;
} 

.good__price {
	display: inline-block;
	height: 26px;
	margin-top: 5px;
	color: #8eba2b;
	font-size: 15px;
	vertical-align: middle;
}


.modal-content {
	width: 350px;
	padding: 25px;
	font: normal 12px Tahoma,sans-serif;
}

.modal-dialog {
	width: 350px;
}


.b_card__flag {
	position: absolute;
	top: -4px;
}

.b_card__flag.flag1 {
	right: 10px;
}
.b_card__flag.flag2 {
	right: 42px;
}

.b_card__gallery {
	position: relative;
	width: 295px;
	height: 355px;
	border: 1px solid #e2e2e2;
	margin: auto;
	text-align: center;
}

.b_card__gallery:before {
	content: '';
	display: block;
	position: absolute;
	background: #000000;
	width: 295px;
	height: 1px;
	left: -1px;
	top: -2px;
}

.b_card__photo {

}

.b_card__gallery_navel {
	display: inline-block;
	position: relative;
	width: 55px;
	height: 55px;
	border: 1px solid #b0b2b5;
}

.b_card__gallery_navel img {
	width: 100%;
	height: 100%;
}

.b_card__info {
	width: 267px;
	margin: auto;
	background: #f1f1f1;
	color: #004f81;
}

.b_card__infos {
	position: relative;
	padding: 15px 10px;
}

.b_card__left_but {
	position: absolute;
	top: 20px;
	left: -15px;
}
.b_card__right_but {
	position: absolute;
	top: 20px;
	right: -15px;
}

.b_card__pp {
	color: #f59d4b;
	font-weight: bold;
}

.b_card__table_nav {
	position: relative;
	width: 294px;
	height: 30px;
	border: 1px solid #cccccc;
	margin-left: -14px;
	background: #ffffff;
	font-size: 15px;
	padding-top: 5px;
	text-align: center;
	margin-bottom: 15px;
}

.b_card__table_nav::before, .b_card__table_nav::after {
	content: ''; 
	position: absolute;
	left: 60px; bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #cccccc;
}

.b_card__table_nav::after {
	border-top: 10px solid white;
	bottom: -19px; 
}

.b_card__price_info {
	color: #808284;
	padding: 0px 4px;
}

.b_card__table_but {
	margin: 0px 40px;
}
.b_card__table_but.active {
	color:#8cbc1a;
}

.b_card__price {
	float: left;
}
.b_card__price_val {
	color: #8cbc1a;
	font-size: 15px;
	font-weight: bold;
}
.b_card__price_val:after {
	content: ' ₽';
}

.b_card__tofav {
	float: right;
	margin-top: -5px;
	font-size: 10px;
}



.b_card__table_info {
	display: table;
	color: #808284;
	margin-top: 10px;
	margin-bottom: 10px;
}

.b_card__table_info .tr {
	display: table-row;
	border-bottom: 1px solid #ffffff;
}

.b_card__table_info .tr__nonzero .b_card__table_refresh{
	visibility: visible;
}

.b_card__table_info .th {
	display: table-row;
	border-bottom: 1px solid #ffffff;
}
.b_card__table_info .td {
	display: table-cell;
	text-align: center;
	padding: 5px 5px;
	vertical-align: middle;
	
}

.b_card__table_info .tr + .tr .td {
	border-top: 1px solid #ffffff;
}

.b_card__table_info .th .td {
	color: #ffffff;
	background: #b3b3b3;
	padding: 5px;
	border-left: 2px solid #f1f1f1;
	border-right: 2px solid #f1f1f1;
}

.b_card__table_info .th .color {
	text-align: center;
}

.b_card__table_info .tr .td.color {
	width: 66px;
	text-align: left;

}

.b_card__table_info .tr:after {
	content: '';
	width: 100%;
	background: #ffffff;
	height: 1px;

}

.b_card__table_info .tr .td.num {
	width: 58px;
}
.b_card__table_info .tr .td.boxes {
	width: 65px;
}

.b_card__table_info .td.boxes input {
	width: 21px;
	text-align: center;
}

.b_card__minus_but {
	width: 13px;
	height: 13px;
	background: url('../i/minus_but.png');
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.b_card__plus_but {
	width: 13px;
	height: 13px;
	background: url('../i/plus_but.png');
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.b_card__table_info .tr .td.inorder {
	width: 79px;
	color: #7bb933;
	text-align: right;
}

.b_card__table_refresh {
	cursor: pointer;
	float: left;
	visibility: hidden;
}

.b_card__cart_icon {
	margin-top: -2px;
	vertical-align: middle;
	margin-right: 5px;
}

.b_card__tofav a{
	text-decoration: none;
}

.b_card__tofav i {
	vertical-align: middle;
	margin-right: 5px;
}

.b_card__myorder {
	position: relative;
	width: 294px;
	height: 22px;
	border: 1px solid #cccccc;
	margin-left: -14px;
	background: #ffffff;
	text-align: right;
	padding-top: 6px;
	padding-right: 19px;
}

.b_card__myorder_val:after {
	content: ' ₽';
}

.b_card__recom {
	border: 1px solid #cccccc;
	border-top: none;
	background: #ffffff;
	text-align: center;
	color: #808284;
}

.b_card__recom_title {
	text-align: left;
	margin-bottom: 10px;
	padding-left: 5px;
}

/* MODAL ORG */

.b_card__table_info--org .tr .td.color {
	width: 114px;
	text-align: left;
	padding-left: 10px;
}

.b_card__table_info--org .tr .td.boxes {
	width:75px;
}

.b_card__select {
	width: 175px;
	height: 20px;
	padding-left: 5px;
	border-radius: 5px;
	background: #f5f5f5;
	color: #58595b;
}

.b_card__select option {
	background: #ffffff;
	color: #2a598e;
}

.b_card__select option:active {
	background: #c8dff3;
}




/* SPRITES */

.sprite {
    background-image: url(../i/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-icon_cart {
    width: 26px;
    height: 26px;
    background-position: -5px -5px;
}

.sprite-icon_cart2 {
    width: 21px;
    height: 19px;
    background-position: -5px -41px;
}

.sprite-icon_cart_grey {
    width: 26px;
    height: 26px;
    background-position: -5px -70px;
}

.sprite-icon_like {
    width: 26px;
    height: 26px;
    background-position: -5px -106px;
}

.sprite-icon_like_grey {
    width: 26px;
    height: 26px;
    background-position: -5px -142px;
}

.sprite-minus_but {
    width: 13px;
    height: 13px;
    background-position: -5px -178px;
}

.sprite-modal_flag {
    width: 31px;
    height: 32px;
    background-position: -5px -201px;
}

.sprite-modal_left {
    width: 8px;
    height: 17px;
    background-position: -5px -243px;
}

.sprite-modal_right {
    width: 8px;
    height: 17px;
    background-position: -5px -270px;
}

.sprite-plus_but {
    width: 13px;
    height: 13px;
    background-position: -5px -297px;
}

.sprite-refresh {
    width: 17px;
    height: 15px;
    background-position: -5px -320px;
}